---
import BaseHead from "@/components/BaseHead.astro";
import SiteShell from "@/layouts/SiteShell.astro";
import NotFoundPage from "@/react-pages/not-found/NotFoundPage";

const meta = {
  description: "Oops! It looks like this page is lost in space!",
  title: "Oops! You found a missing page!",
};
---

<html
  class="overflow-x-hidden grid scroll-pt-[72px] scroll-smooth font-sans text-text text-xl md:text-base antialiased"
  lang="en"
>
  <head>
    <BaseHead title={meta.title} description={meta.description} />
  </head>
  <body class="relative min-h-screen w-full bg-surface">
    <SiteShell>
      <NotFoundPage />
    </SiteShell>
  </body>
</html>
