---
import BaseHead from "@/components/BaseHead.astro";
import SiteShell from "@/layouts/SiteShell.astro";
import AboutPage from "@/react-pages/about/AboutPage";

const meta = {
  title: "About",
  description:
    "Learn about Semio Community's mission to advance human-centered robotics through open science and collaboration",
};
---

<html
  class="overflow-x-hidden grid scroll-pt-[72px] scroll-smooth font-sans text-text text-xl md:text-base antialiased"
  lang="en"
>
  <head>
    <BaseHead title={meta.title} description={meta.description} />
  </head>
  <body class="relative min-h-screen w-full bg-surface">
    <SiteShell>
      <AboutPage />
    </SiteShell>
  </body>
</html>
